/* Указываем box sizing */ 
/* *, 
*::before, 
*::after { 
  box-sizing: border-box;  */
/* }  */
 
/* Убираем внутренние отступы */ 
ul[class], 
ol[class] { 
  padding: 0; 
} 
 
/* Убираем внешние отступы */ 
body, 
h1, 
h2, 
h3, 
h4, 
p, 
ul[class], 
ol[class], 
li, 
figure, 
figcaption, 
blockquote, 
dl, 
dd { 
  margin: 0; 
} 
 
/* Выставляем основные настройки по-умолчанию для body */ 
body { 
  min-height: 100vh; 
  scroll-behavior: smooth; 
  text-rendering: optimizeSpeed; 
  line-height: 1.5; 
} 
 
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/ 
ul[class], 
ol[class] { 
  list-style: none; 
} 
 
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */ 
a:not([class]) { 
  text-decoration-skip-ink: auto; 
} 
 
/* Упрощаем работу с изображениями */ 
 
/* Наследуем шрифты для инпутов и кнопок */ 
input, 
button, 
textarea, 
select { 
  font: inherit; 
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body{
  font-family:  "Roboto", sans-serif;
}
#root{
  border: 1px solid black;
  width: 335px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  margin: 100px 450px;
}
.top {
  background-color: #FFDC40;  ;
  width: 335px;
  height: 30px;
  /* border-radius: 10px; */
  
}
.sort-asc {
  background-image: url("./assets/photo/Group\ 74.svg");
  position: relative;
  margin-left: 270px;
  border: 0;
  background-color: white;
  color: white;
  margin-bottom: 20px;
  height: 15px;
  width: 25px;
}
.sort-asc:hover{
  background-image: url("./assets/photo/Group\ 73.png");
}
.sort-desc {
  background-image: url("./assets/photo/Group\ 90.svg");
  position: relative;
  margin-left: 270px;
  border: 0;
  background-color: white;
  color: white;
  margin-bottom: 20px;
  height: 15px;
  width: 25px;
}
.sort-desc:hover{
  background-image: url("./assets/photo/Group\ 91.svg");
}
.clearInputButton{
  background-image: url("assets/images/Group 77.svg");
  margin-left: 300px;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
}
.addBtn {
  background-color: #833ae0;
  display: block;
  height: 42px;
  width: 150px;
  left: 500px;
  top: 407px;
  border-radius: 71px;
  margin-left: 80px;
  margin-top: 30px;
  cursor: pointer;
}
.buttonText{
  background-color: #833ae0;
  border-color: #833ae0;
  margin-top: 1px;
  border: none;
  cursor: pointer;
}
.buttonPlus {
  width: 45px;
  height: 40px;
  background-color: #833ae0;
  border-radius: 20px;
  padding-right: 40px;
  font-size: 20px;
  color: white;
  border: none;
  cursor: pointer;
}
.paragr {
  margin-left: 120px;
  font-weight: bold;
  width: 298px;
  height: 40px;
}
.addTask {
  border-radius: 10px;
  width: 300px;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
}
.inputTask{
  margin-left: 10px;
  margin-top: 10px;
  width: 270px;
}


